html, body { overflow-x: hidden; }
body{
  background-color:#F5F5F5;
}
.hidden{
  display: none;
}
#navBar{
  width: 100%;
}
#title{
  font-size: 20px;
}
#spotTitle, #loginTitle, #title, #createAccountTitle{
  font-size: 20px;
}
#streamTitle{
  margin-top: 60px;
}
#map{
  width: 450px;
  height: 220px;
  background-color: grey;
}
#loginPage, #createAccountPage{
  background-image: url('Z.jpg');
  background-size: 100% 120%;
  background-repeat: no-repeat;
}
#loginDiv, #createAccountDiv{
  background-color: white;
  width: 400px;
  height: auto;
  left: 40%;
}
#loginBox, #createAccountBox{
  margin-top: 100px;
  width: 100%;
  height: 100%;
  min-height: 900px;
  max-height: 1000px;
}
#signInButton, #createAccountButton{
  width: 100%;
  margin-top: 40px;
}
#homeFrame{
  margin-top: 70px;
  margin-left: -25px;
}
.valid{
  color: green;
}
.invalid{
  color: red;
}
.neutral{
  color:black;
}
#notification{
  text-align: center;
}
#carousel{
  margin-top: 70px;
}
#homeFrameDiv{
  margin-left: 60px;
}
#uvDiv{
  margin-left: 40px;
}
#tideDiv{
  margin-left: -30px;
  margin-right: 20px;
}
#time{
  margin-top: 30px;
}
.carousel-indicators{
  margin-bottom: 60px;
}
#spotSize, #spotConditions{
  width: 450px;
  background-color: grey;
}
#breakDropList{
  overflow-y: scroll;
  max-height: 150px;
}
#viewFavorites{
  margin-top: 8px;
}
#favoritesPage{
  background-image: url('sunset.jpg');
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
}
#favoritesTitle{
  margin-top: 60px;
  color: white;
}
#favoritesContent{
  height: 100%;
  width: 100%;
}
#favoritesContainer{
  position: static;
}
