.hidden{
  display: none;
}
#navBar{
  top: 200px;
}
#title{
  font-size: 20px;
}
#spotTitle, #loginTitle, #title, #createAccountTitle{
  font-size: 20px;
}
#streamTitle{
  margin-top: 60px;
}
#map{
  width: 300px;
  height: 300px;
  background-color: grey;
}
#loginPage{
  width: 100%;
}
#loginBox, #createAccountBox{
  margin-top: 100px;
  height: 50%;
  border-color: black;
}
#signInButton, #createAccountButton{
  width: 100%;
  margin-top: 40px;
}
#homeFrame{
  margin-top: 110px;
  margin-left: -25px;
}
.valid{
  color: green;
}
.invalid{
  color: red;
}
.neutral{
  color:black;
}
